.Main {
    align-items: center;
    text-align: center;
}

.Main h1 {
    padding: 10px;
}

.Grid {
    background-color: azure;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    row-gap: 1em;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 50px;
    width: 70%;
    margin: auto
}
